@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  height: 100%;
}

body {
  background-color: rgb(235, 235, 235);
  color: rgb(31, 31, 31);
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.calculator {
  background-color: rgb(192, 223, 194);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 20px;
  width: 400px;
  height: 600px;
  border-radius: 20px;
}

.screen {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 40px;
  font-weight: bold;
  padding: 20px;
  width: 380px;
  height: 160px;
  flex-basis: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

#screen-last {
  font-size: 30px;
}

#screen-current {
  font-size: 40px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-btn {
  padding: 20px 54px;
  font-size: 20px;
  border-radius: 5px;
  border: 0px solid rgb(185, 185, 185);
  font-weight: bold;
}

#clear,
#delete {
  background-color: rgb(252, 180, 180);
  width: 180px;
}

#clear:hover {
  background-color: rgb(252, 197, 197);
}

#delete {
  background-color: rgb(197, 244, 252);
}

#delete:hover {
  background-color: rgb(214, 255, 255);
}

.btn {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0px solid rgb(185, 185, 185);
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 24px;
}

.btn:hover {
  background-color: white;
}

.function {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.operations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  gap: 20px;
}
